<%if action_name == 'edit'%>
  <div class="nested-fields row row-space  pt-2 edit-answer">
<%else%>
  <div class="nested-fields row row-space  pt-2 create-answer">
<% end %>
  <div class="col-1 pt-2">
    <%= f.check_box :correct %>
  </div>
  <div class="col-10">
    <%= f.text_field :content ,class:"input--style-4 form-control" , placeholder:"Đáp án ..." ,required: true ,maxlength: "100"%>
  </div>
  <%= link_to_remove_association "<i class='fa fa-trash'></i>".html_safe, f ,class: "col-1"%>
</div>