<div class="card-body">
  <h2 class="title">Phần câu hỏi</h2>
  <%= form_for @question do |form| %>
    <%= form.hidden_field :question_type, value: "choose_answer" %>
    <div class="row row-space">
      <div class="col-9">
        <div class="input-group">
          <label class="label">Nội dung câu hỏi</label>
          <%= form.hidden_field :attach_type  ,value: @question.attach_type ,id: "attach_type"%>
          <%= form.text_area :content ,class:"input--style-4 form-control" ,id: "ques_content",
            placeholder: "Nội dung" ,minlength:"5" ,maxlength: "1000" ,required: true ,onkeyup: "auto_grow(this)"%>
          <div class="invalid-feedback">
              Vui lòng nhập nội dung câu hỏi.
          </div>
        </div>
        <div class="input-group row m-0 pt-3 pb-3">
          <div class="col-sm-9 p-0">
            <label class="label">Chủ đề</label>
            <%= form.select :topic_id, 
            options_for_select(@topics.map{ |s| [s.title, s.id] }, params[:topic_id]) , {} ,
            {placeholder: 'ssss',class: 'custom-select'}%>
          </div>
          <div class="col-sm-3 p-0">
            <label class="label">Độ khó</label>
            <%= form.select :difficulty, options_for_select([['Dễ', 'easy'], 
            ['Vừa', 'normal'], ['Khó', 'hard']], 'easy') , {} ,{class: 'custom-select'}%>
          </div>
        </div>
        <% case @question.attach_type %>
				<% when "images" %>
					<div class="image-preview d-flex justify-content-center"><%=image_tag @question.image %></div>
          <video controls autoplay id="video_player" class="display_none"></video>
          <audio controls id="audio_player" class="display_none"></audio>
				<% when "sound" %>
          <div class="image-preview"><img/></div>
          <video controls autoplay id="video_player" class="display_none"></video>
					<%= audio_tag rails_blob_path(@question.sound), controls: true ,id:"audio_player"%>
				<% when "video" %>
          <div class="image-preview d-flex justify-content-center "><img/></div>
					<%= video_tag rails_blob_path(@question.video), controls: true ,id:"video_player" %>
          <audio controls id="audio_player" class="display_none"></audio>
				<% when "no_attach" %>
          <div class="image-preview d-flex justify-content-center "><img/></div>
          <video controls autoplay id="video_player" class="display_none"></video>
          <audio controls id="audio_player" class="display_none"></audio>
        <% end %>
      </div>
      <div class="col-3">
        <label class="label">&nbsp;</label>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Trắc nghiệm
          </button>
        </div>
      </div>
    </div>

    <div class="row row-space mt-2">
      <div class="col-7">
        <label class="label--inline">Đính kèm</label>
        <div class="btn-group pl-2" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="selection"><i class="fa fa-ban" style="font-size: 25px;"></i> Không</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li class="dropdown-item" value="0">
              <div  class="custom-file-upload" >
                <i class="fa fa-ban" style="font-size: 25px;"></i> 
                Không
              </div>
            </li>
            <li class="dropdown-item" value="1">
              <label for="image-upload" class="custom-file-upload" id="image-upload-label">
                <i class="fa fa-file-image-o" style="font-size: 25px;"></i> 
                 Hình ảnh
              </label>
            </li>
            <li class="dropdown-item" value="2">
              <label for="audio-upload" class="custom-file-upload" id="audio-upload-label">
                <i class="fa fa-file-audio-o" style="font-size: 25px;"></i>
                 Audio ngắn
              </label>
            </li>
            <li class="dropdown-item" value="3">
              <label for="video-upload" class="custom-file-upload" id="video-upload-label">
                <i class="fa fa-file-video-o" style="font-size: 25px;"></i>
                 Video ngắn
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-5">
        <div class="input-group">
          <%= form.file_field :image, class:'file--ques', accept:"image/*" ,id:"image-upload"%>
        </div>
        <div class="input-group">
          <%= form.file_field :video, class:'file--ques', accept:"video/*" ,id:"video-upload"%>
        </div>
        <div class="input-group">
          <%= form.file_field :sound, class:'file--ques', accept:"audio/*" ,id:"audio-upload"%>
        </div>
      </div>
    </div>
    <h2 class="title pt-4 mt-3">Phần câu trả lời</h2>
    <div class="row row-space">
      <div class="col-2">
        <label class="label">Đúng</label>
      </div>
      <div class="col-10">
        <label class="label">Nội dung</label>
      </div>
    </div>

    <div id="answers" class="row row-space  pt-2">
      <%= form.fields_for :answers do |answer| %>
        <%= render 'answer_fields', f: answer%>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add answer', form, :answers ,id:"add-answer"%>
      </div>
    </div>

    <%# <div class="row row-space  pt-2">
      <div class="col-1 pt-2">
        <%= form.check_box :correct1 ,class:"form-check-input css-checkbox" ,id:"correct1_check"% >
        <label for="correct1_check" class="css-label"></label>
      </div>
      <div class="col-11">
        <%= form.text_field :answer1 ,class:"input--style-4 form-control" ,
         placeholder:"Đáp án thứ nhất" ,required: true ,maxlength: "100"% >
      </div>
    </div> %>


    <% if @question.errors.messages[:base].any? %>
    <div class="row row-space  pt-2">
      <div class="col-1"></div>
      <div class="invalid-feedback display-inline col-11" >
        Vui lòng chọn đáp án đúng !
      </div>
      <div class="invalid-feedback display-inline col-11" id="invalid-file">
        Vui lòng chọn đáp án đúng !
      </div>
    </div>
    <% end %>
    <div class="row row-space  pt-2">
      <div class="col-1"></div>
      <div class="invalid-feedback display-inline col-11" id="invalid-file" 
      style="visibility: visible;"></div>
    </div>
    <%if controller_name == "questions" and action_name == "edit" %>
      <p id="index-upload" hidden>0</p>
    <% else %>
      <p id="index-upload" hidden>1</p>
    <% end %>
    <div class="row row-space  pt-4">
      <% if action_name == 'edit' %>
        <%= form.submit "UPDATE CÂU HỎI", class: "btn btn-warning", id:"submit-question-btn"%>
      <% else %>
        <%= form.submit "TẠO CÂU HỎI", class: "btn btn-warning", id:"submit-question-btn"%>
      <% end %>
    </div>
  <% end %>
</div>