<div class="page-wrapper bg-gra-02 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680 pt-3 pb-4">
    <div class="card card-4">
      <div class="card-header">
        <h4>CHỈNH SỬA CÂU HỎI</h4>
      </div>
      <%= render 'question_form' %>
    </div>
  </div>
</div>