<div class="main-container container-fluid main-content pt-4">
	<section class="section home-section sevice-section text-white no-padding no-margin" id="service">
		<div class="row no-margin">
			<div class="col-md-2 left-container">
				<div class="d-flex justify-content-center  mb-3">
					<%= link_to '<i class="fa fa-pencil-square-o" style="font-size:24px"></i> THÊM CÂU HỎI'.html_safe,
					 new_question_path ,class:"btn btn-warning"%>
				</div>
				<ul class="list-group email-action">
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active-li-item" id="all-ques-li">
						<%= link_to '<i class="fa fa-book" style="font-size:20px"></i> Tất cả'.html_safe,
						 questions_path(status_search: "all"), method: :get, remote: true ,id:"all-ques-link"%>
						<span class="badge badge-primary badge-pill"><%= @total_number_of_question %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="enable-ques-li">
						<%= link_to '<i class="fa fa-globe" style="font-size:20px"></i> Công khai'.html_safe, 
						questions_path(status_search: "enable"), method: :get, remote: true ,id:"enable-ques-link"%>
						<span class="badge badge-primary badge-pill" id = "numer-enable-question"><%= @number_of_enable_question %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="disable-ques-li">
						<%= link_to '<i class="fa fa-lock" style="font-size:20px" aria-hidden="true"></i> Vô hiệu hóa'.html_safe,
						 questions_path(status_search: "disable"), method: :get, remote: true ,id:"disable-ques-link"%>
						<span class="badge badge-primary badge-pill" id = "numer-disable-question"><%= @number_of_disable_question %></span>
					</li>
				</ul>
			</div>
			<div class="col-md-10 right-container">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 col-12">
								<h2 id="title-page">BẢNG CÂU HỎI</h2>
							</div>
								<div class="col-sm-6 col-12">
									<div class="input-group">
										<%= form_tag questions_path, method: :get, remote: true, id: 'question-search', class:"form-inline my-2 my-lg-0"  do %>
											<%= text_field_tag :content_search, params[:content_search], class:"form-control", placeholder:"Nội dung tìm kiếm .." %>
											<%= select_tag :status_search, options_for_select([['all', 'all'], ['enable', 'enable'], ['disable', 'disable']], params[:status_search]) ,style: "visibility: hidden;"%>
										<% end %>
									</div> 
								</div>		
						</div>
					</div>
					<div class="card-body">
					<div id="all-mail" class="table-responsive table-body">
							<table class="table table-hover table-bordered mail-table table-striped">
								<thead class="thead-dark" id="thead-ques-index">
									<tr> 
										<th scope="col">Nội dung</th>
										<th scope="col">Đính kèm</th>
										<th scope="col">Tình trạng</th>
										<th scope="col">Edit lần cuối</th>
										<th scope="col">Chỉnh sửa</th>
									</tr>
								</thead>
								<tbody id="show-question">
									<%= render @questions %>
								</tbody>
							</table>
						<div id="show_will_paginate"><%= will_paginate @questions %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>