<div class="d-flex justify-content-center bg-gra-02 p-b-100 font-poppins row">
  <div class=" pt-3 pb-4 col-10">
    <div class="card card-4">
      <div class="card-header">
        <h2 id="title-page">TẠO CÂU HỎI</h2>
      </div>
      <%= render 'question_form' %>
    </div>
  </div>
</div>