$('#<%='show-status-'+@question.id.to_s%>').html("<%= @status %>");
$('#<%='button-status-'+@question.id.to_s%>').text('<%= @b%>');
$('#numer-enable-question').html('<%= @number_of_enable_question %>');
$('#numer-disable-question').html('<%= @number_of_disable_question %>')
if (<%= session[:all] == 'enable' || session[:all] == 'disable' %>){
    $('#<%='button-status-'+@question.id.to_s%>').bind('ajax:success', function() {$(this).closest('tr').fadeOut();});
}