<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h2 id="title-page">Câu hỏi vừa khởi tạo</h2>
				</div>
				<div class="p-2">
					<p><strong>Trạng thái : </strong>
					<% if @question.disable == true %>
						<%= 'Vô hiệu hóa'%>
					<% else %>
						<%= 'Công khai' %>
					<% end %> 
					</p>
					<p><strong>Chủ đề : </strong><%= @question.topic.title %></p>
          <p><strong>Thời gian khởi tạo : </strong><%= @question.created_at %></p>
					<%= link_to 'Edit', edit_question_path(@question) %>
				</div>
			</div>
		  <hr>
      <div class="question-block mt-3"> 
        <p class="question-title">
          <strong>Câu hỏi: </strong>
          <%= @question.content %>
        </p>
        <% case @question.attach_type %>
        <% when "image" %>
        <div class="d-flex justify-content-center pb-3">	
          <%= image_tag @question.image ,class:"ques-test-img"%> 
        </div>
        <% when "sound" %>
          <%= audio_tag rails_blob_path(@question.sound), controls: true %>
        <% when "video" %>
          <%= video_tag rails_blob_path(@question.video), controls: true %>
        <% end %>
        <div class="answer-block" data-question-type="multi_choice">
          <div class="question-form" > 
            <% @question.answers.each do |answer| %>
              <%if answer.correct %>
                <div class="s_question_selection checked_border right_checked_border d-flex">
                  <span class="choice-index-span">
                    <code><%= answer.content %></code>
                  </span>
                </div>
              <% else %>
                <div class="s_question_selection checked_border no_checked_border d-flex">
                  <span class="choice-index-span">
                    <code><%= answer.content %></code>
                  </span>
                </div>
              <% end %> 
            <% end %>
          </div>
        </div>
      </div>
			<hr>
			<div class="d-flex justify-content-center">

			</div>
	  </div>
	</div>
</div>