<%= form_with model: @topic do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_area :title %>
   </p>

   <p>
      <%= form.label :disable %><br>
      <%= form.select :disable, options_for_select([['true', true], ['false', false]], @topic.disable) %>
   </p>

   <p>
      <%= form.label :number_of_question %><br>
      <%= form.text_field :number_of_question %>
   </p>
    
    <p>
      <%= form.submit%>
    </p>
<% end %>