<%= form_with scope: :topic, url: topics_path do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_area :title %>
   </p>
    
    <p>
      <%= form.submit%>
    </p>
<% end %>