<tr id=<%='topic-'+topic.id.to_s%>>
	<td><%= topic.title %></td>
	<td><%= topic.number_of_question %></td>
	<td>	
	<% if topic.disable == true %>
		<span id = '<%='show-status-'+topic.id.to_s%>'>Vô hiệu hóa</span>
		<% b = 'Enable'%>
	<% else %>
		<span id = '<%='show-status-'+topic.id.to_s%>'>Công khai</span>
		<% b = 'Disable' %>
	<% end %>
	</td>
	<td><%= topic.questions.size %></td>
	<td><%= topic.topic_time / 60 %></td>
	<td>
		<%= link_to "Show", topic_path(topic) %>
    <%= link_to b, setStatusTopic_path(id: topic.id), method: :patch, data: { confirm: 'Are you sure?' }, remote: true, id: 'button-status-'+topic.id.to_s %>
	</td>
</tr>