$("<%= escape_javascript(render @topic) %>").appendTo("#show_all_topics");
$('#number-all-topic').html('<%= @number_all %>');
$('#number-enable-topic').html('<%= @number_enable %>');
$('#createTopicModal').modal('toggle');