<div class="main-container container-fluid main-content pt-4">
	<section class="section home-section sevice-section text-white no-padding no-margin" id="service">
		<div class="row no-margin">
			<div class="col-md-2 left-container">
				<div class="d-flex justify-content-center  mb-3">
					<button type="button" class="btn" data-toggle="modal" 
						data-target="#createTopicModal" style="background-color: #e98a00;" >
						<i class="fa fa-pencil-square" style="font-size:24px"></i> THÊM CHỦ ĐỀ
					</button>
				</div>
				<ul class="list-group email-action">
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active-li-item" id="all-ques-li">
						<%= link_to '<i class="fa fa-book" style="font-size:20px"></i> Tất cả'.html_safe,
						 topics_path(topic_search: "all"), method: :get, remote: true ,id:"all-ques-link"%>
						<span class="badge badge-primary badge-pill" id = "number-all-topic"><%= @number_all %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="enable-ques-li">
						<%= link_to '<i class="fa fa-globe" style="font-size:20px"></i> Công khai'.html_safe, 
						topics_path(topic_search: "enable"), method: :get, remote: true ,id:"enable-ques-link"%>
						<span class="badge badge-primary badge-pill" id = "number-enable-topic"><%= @number_enable %></span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="disable-ques-li">
						<%= link_to '<i class="fa fa-lock" style="font-size:20px" aria-hidden="true"></i> Vô hiệu hóa'.html_safe,
						 topics_path(topic_search: "disable"), method: :get, remote: true ,id:"disable-ques-link"%>
						<span class="badge badge-primary badge-pill" id = "number-disable-topic"><%= @number_disable %></span>
					</li>
				</ul>
			</div>
			<div class="col-md-10 right-container">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6">
								<h2 id="title-page">BẢNG CHỦ ĐỀ</h2>
							</div>
								<div class="col-sm-6 ">
									<div class="input-group">

									</div> 
								</div>		
						</div>
					</div>
					<div class="card-body">
						
						<div id="all-mail" class="table-responsive table-body">
								<table class="table table-hover table-bordered mail-table table-striped">
								<thead class="thead-dark">
									<tr> 
										<th scope="col">Tên</th>
										<th scope="col">Số câu hỏi phải làm</th>
										<th scope="col">Tình trạng</th>
										<th scope="col">Tổng số câu hỏi hiện có</th>
										<th scope="col">Thời gian làm bài (phút)</th>
										<th scope="col">Chỉnh sửa</th>
									</tr>
								</thead>
								<tbody id="show_all_topics">
                  <%= render @topics %>
								</tbody>
							</table>
						<div id="show_will_paginate"><%= will_paginate @topics %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
										
<div class="modal fade" id="createTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo mới chủ đề :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<%= form_with scope: :topic, url: topics_path do |form| %>
				<div class="modal-body">
					<div class="form-group">
						<label for="title-name" class="col-form-label"><b>Chủ đề : </b></label>
						<%= form.text_field :title ,class:"form-control" ,id:"title-name" ,required: true,minlength:"5"%>
					</div>
					<div class="form-group">
						<label for="num-ques-name" class="col-form-label"><b>Số câu hỏi mặc định :</b></label>
						<%= form.number_field :number_of_question ,class:"form-control" ,id:"num-ques-name",required: true ,min: 5 ,max: 30%>
					</div>
					<div class="form-group">
						<label for="topic-time" class="col-form-label"><b>Thời gian làm bài :</b></label>
						<div class="input-group">
							<input type="number" class="form-control" aria-describedby="basic-addon2"
							id="topic-time" name="topic[topic_time]" min="5" max="60" required>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">phút</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
					<%= form.submit "THÊM CHỦ ĐỀ",class:"btn btn-primary" %>
				</div>
			<% end %>
    </div>
  </div>
</div>