$('#<%='show-status-'+@topic.id.to_s%>').html("<%= @topic_status %>");
$('#<%='button-status-'+@topic.id.to_s%>').text('<%= @b%>');
$('#number-enable-topic').html('<%= @number_enable %>');
$('#number-disable-topic').html('<%= @number_disable %>');
if (<%= session[:present_tab] == 'enable' || session[:present_tab] == 'disable' %>){
    $('#<%='button-status-'+@topic.id.to_s%>').bind('ajax:success', function() {$(this).closest('tr').fadeOut();});
}