<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h2 id="title-page"><%= @topic.title %></h2>
					<button type="button" class="btn btn-info" data-toggle="modal" 
					data-target="#exampleModal" >Chỉnh sửa</button>
					<%= link_to "Tạo câu hỏi", new_question_path(topic_id: @topic.id), role:"button", class:"btn btn-warning" %>
				</div>
				<div class="">
					<p>
						<strong>Số câu hỏi mặc định: </strong>
						<span id="topic-number"><%= @topic.number_of_question %></span>
					</p>
		  		<p>
						<strong>Thời gian làm bài : </strong>
						<span id="topic_time"><%= @topic.topic_time / 60 %> phút</span>
					</p>
		  		<p>
						<strong>Tổng số câu hỏi hiện có : </strong>
						<span id="ques-number"><%= @topic.questions.size %></span>
					</p>
		  		<p>
						<strong>Thời gian khởi tạo : </strong>
						<span id="topic-created-at"><%= @topic.created_at.to_s.first(-7) %></span>
					</p>
				</div>
			</div>
		  <hr>
	  <div class="question-block mt-3 table-responsive table-body"> 
			<table class="table table-hover table-bordered mail-table table-striped">
				<thead class="thead-dark">
					<tr> 
						<th scope="col">Nội dung</th>
						<th scope="col">Đính kèm</th>
						<th scope="col">Tình trạng</th>
						<th scope="col">Edit lần cuối</th>
						<th scope="col">Chỉnh sửa</th>
					</tr>
				</thead>
				<tbody id="show-question">
					<%= render @questions %>
				</tbody>
			</table>
		<div id="show_will_paginate"><%= will_paginate @questions %></div>
	  </div>
			<hr>
			<div class="d-flex justify-content-center">

			</div>
	  </div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin chủ đề :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<%= form_with model: @topic do |form| %>
				<div class="modal-body">
					<div class="form-group">
						<label for="title-name" class="col-form-label"><b>Chủ đề : </b></label>
						<%= form.text_field :title ,class:"form-control" ,id:"title-name" ,required: true,minlength:"5"%>
					</div>
					<div class="form-group">
						<label for="num-ques-name" class="col-form-label"><b>Số câu hỏi mặc định :</b></label>
						<%= form.number_field :number_of_question ,class:"form-control" ,id:"num-ques-name" ,required: true ,min: 5 ,max: 30%>
					</div>
					<div class="form-group">
						<label for="topic-time" class="col-form-label"><b>Thời gian làm bài :</b></label>
						<div class="input-group">
							<input type="number" class="form-control" aria-describedby="basic-addon2"
							id="topic-time" name="topic[topic_time]" min="5" max="60" required value="<%= @topic.topic_time / 60 %>">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">phút</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<%= form.submit "Update",class:"btn btn-primary" %>
				</div>
			<% end %>
    </div>
  </div>
</div>