$('#title-page').text('<%= @topic.title %>');
$('#topic-number').text('<%= @topic.number_of_question %>');
$('#topic_time').text('<%= @topic.topic_time / 60 %> phút');
$('#topic-created-at').text('<%= @topic.created_at.to_s.first(-7) %>');
$('#exampleModal').modal('toggle');