<tr>
  <td><%= user.email %></td>
	<td><%= user.created_at.to_s.first(-7) %></td>
	<td id=<%='set-role-'+user.id.to_s%> >
	<% if user.role == "admin" %>
		<%= 'Quản trị viên' %>
	<% else %>
		<%= 'Người dùng' %> 
	<% end %> 
	</td>
	<td><%= link_to 'Set role', setRole_path(id: user.id), method: :patch, 
		data: { confirm: 'Are you sure?' }, remote: true %>
	</td>
</tr>