<div class="pt-4 d-flex justify-content-center row">
	<div class="card card_center col-10">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-6 col-12">
					<h2 id="title-page">TÀI KHOẢN</h2>
				</div>
				<div class="col-sm-6 col-12">
						<div class="form-group">
							<%= form_tag users_path, method: :get, remote: true, id: 'user-search', class:"form-inline"  do %>
									<%= text_field_tag :user_search, params[:user_search], class:"form-control", placeholder:"Nội dung tìm kiếm .." %>  											
							<% end %>
						</div>   
				</div>
			</div>
		</div>
		<div class="card-body">
			<div id="all-mail" class="table-responsive table-body">
				<table class="table table-hover table-bordered mail-table table-striped">
					<thead class="thead-dark">
						<tr> 
							<th scope="col">Email</th>
							<th scope="col">Thời gian tạo</th>
							<th scope="col">Quyền</th>
							<th scope="col">Tùy chỉnh</th>
						</tr>
					</thead>
					<tbody id = "show_all_user">
						<%= render @users %>
					</tbody>
				</table>
				<div id="show_will_paginate"><%= will_paginate @tests %></div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$("#user_search").on('input', function() {
		$.get($("#user-search").attr("action"), $("#user-search").serialize(), null, "script");
		return false;
	});
});
</script>