<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="height: 350px;">
      <div class="card-header" >
        <h3>Thay đổi mật khẩu ?</h3>
      </div>
      <div class="card-body" >
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <%= f.password_field :password, autofocus: true, autocomplete: "email" ,class:"form-control" ,placeholder:"New password"%>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <%= f.password_field :password_confirmation,  autofocus: true, autocomplete: "off" ,class:"form-control" ,placeholder:"Confirm new password"%>
          </div>
          <div class="form-group">
            <%= f.submit "Change password" ,class:"btn float-right login_btn" ,style: "width: 154px;"%>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

