<div class="pt-4 d-flex justify-content-center">
	<div class="container">
	 	<div class="row">
			<% @topics.each do |topic| %>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
						<div class="title">
							<h3><%= topic.title %></h3>
						</div>
						<div class="text">
							<span>Số câu hỏi : <%= topic.number_of_question %></span>
						</div>
						<div class="text">
							<span>Thời gian làm bài : <%= topic.topic_time / 60 %> phút</span>
						</div>
						<%= link_to 'Làm bài', do_test_path(topic) %>
					</div>
				</div>
			<% end %>
		</div>		
	</div>
</div>
