// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span{
  font-size:15px;
}
body.home{
  #home_link{
    color: white;
  }

  .box{
    padding:60px 0px;
  }
  
  .box-part{
    background:#eee;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
  }
  .text{
    margin:20px 0px;
  }
  
}