// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.tests {
  .ques-test-img{
    width: 100%;
    max-width: 740px;
    max-height: 365px;
    object-fit: fill;
  }
  
  #test_link{
    color: white;
  }
  // .card_center{
  //   min-width: 942px;
  // }
  

  @media screen and (min-width: 769px) {
    .question-block{
      padding: 23px 39px;
    }
  }
  .question-selection, .s_question_selection{
    background-color: #f8f8f8;
    border: 2px solid transparent;
    padding: 8px 64px 8px 32px;
    margin-top: 5px;
    position: relative;
    cursor: default;
    border-radius: 35px;
  }
  .check_box_test{
    display: none;
  }
  .question-selection:hover {
    cursor: pointer;
    border-color: #00a7c8;
    background-color: #ffffff;
  }
  
  code {
    background-color: #efefef;
    border-radius: 4px;
    padding: 4px 8px 4px;
    line-height: 1.5;
    position: relative;
    top: -1px;
    color: #3a3a3a;
  }
  .right_checked_border{
    code ,i{
      color : rgb(137, 207, 96);
    }
    border: 1px solid rgb(137, 207, 96);
  }
  .wrong_checked_border{
    code ,i{
      color : rgb(249, 118, 116);
    }
    border: 1px solid rgb(249, 118, 116);
  }
  .no_checked_border{
    code{
      color: lightgray;
    }

  }

  #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 7px;
    border-radius: 10px;
    background: #00BF96;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 7px;
    border-radius: 13px;
    background: #00816A;
    display: inline-block;
  }
  .disble-ques{
    background-color: ghostwhite;
    color: darkgray;
    text-align: center;
    .question-title{
      text-align: left;
    } 
    i{
      font-size: 50px;
    }
    .question-title{
      color:black;
    }
  }
  
}