
</tr>
	<td><%= test.topic.title%></td>
	<td><%= test.user.email %></td>
	<td><%= test.score  %> / <%= test.topic.number_of_question%></td>
	<td>
		<%= render "time_test" , test: test%>
	</td>
	<td><%= test.created_at.to_s.first(-7)  %></td>
	<td><%= link_to 'Xem', test_path(test)%></td>
</tr>