<%min = test.test_time / 60 %>
<%seconds = test.test_time - min * 60 %> 
<%min_default = test.topic.topic_time / 60 %>
<%seconds_default = test.topic.topic_time - min_default * 60 %> 

<%if min != 0%>
  <%=min%> phút 
<%end%>
<%if seconds != 0%>
  <%=seconds%> giây
<%end%>
(Tổng : 
<%if min_default != 0%>
  <%=min_default%> phút 
<%end%>
<%if seconds_default != 0%>
  <%=seconds_default%> giây
<%end%>
)