<script>
	CountDown(<%= @test.topic.topic_time %>);
	//CountDown(10);
</script>
<div class="container mt-4">
	<div class="card mb-4">
	  <div class="card-body p-0 ">
			<div class="d-flex p-4">
				<div class="mr-auto p-2">
					<h2 id="title-page">BÀI TEST</h2>
					<h3><%= @test.topic.title %></h3>
				</div>
				<div class="p-2">
					<h3>Thời gian</h3>
					<div id="clockdiv">
						
						<div>
							<span class="minute" id="minute"></span>
							<span class="seconds" id="second"></span>
						</div>
					</div>
				</div>
			</div>
		  <hr>
			<%= form_for :answers, controller: "tests", action: "next", method: "post" ,id: "do_test_form"  do |form| %>
				<%= form.hidden_field :time_do_test  ,value: 0 ,id: "time_do_test"%>
				<% updated_at_list = "" %>
				<% @test.id_ques_list.split('/').each_with_index do |id ,idx| %>
					<% question = Question.find_by(id: id) %>
					<% updated_at_list += ( question.updated_at.to_s.first(-7) + '/') %>
					<div class="question-index-<%=idx%> question-block" id="question-index-<%=idx%>-id"> 
						<p class="question-title">
							<strong>Câu <%=idx + 1%> : </strong>
							<%= question.content %>
						</p>
						<% case question.attach_type %>
						<% when "image" %>
						<div class="d-flex justify-content-center pb-3 embed-responsive embed-responsive-16by9">	
							<%= image_tag question.image ,class:"ques-test-img embed-responsive-item"%> 
						</div>
						<% when "sound" %>
							<%= audio_tag rails_blob_path(question.sound), controls: true %>
						<% when "video" %>
							<div class="embed-responsive embed-responsive-16by9">
								<%= video_tag rails_blob_path(question.video), controls: true ,class:"embed-responsive-item"%>
							</div>
						<% end %>
						<div class="answer-block" data-question-type="multi_choice">
							<div class="question-form" accept-charset="UTF-8" method="post"> 
								<% question.answers.each_with_index do |answer , index| %>
									<div class="question-selection">
										<%= form.check_box "[#{id}][#{index}]" ,class:"check_box_test" %>
										<span class="choice-index-span">
											<code><%= answer.content %></code>
										</span>
									</div>
								<%end%>
								<div class="invalid-feedback display-inline d-flex pt-2 invalid-index-<%=idx%>" style="visibility: hidden;">
									Vui lòng chọn đáp án trả lời !
								</div>
							</div>
						</div>
					</div>
				<%end%>
				<hr>
				<%= form.hidden_field :id_ques_list, :value => @test.id_ques_list %>
				<%= form.hidden_field :updated_at_list, :value => updated_at_list.first(-1) %>
				<div class="d-flex justify-content-center mb-3">
					<%= form.submit 'Nộp bài' ,class:"btn btn-success",id: "do-test-submit"%>  
				</div>
			<% end %>
	  </div>
	</div>
</div>
