<div class="pt-4 d-flex justify-content-center row">
	<div class="card card_center col-10 p-0">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-6 col-12">
					<h2 id="title-page">BẢNG BÀI TEST</h2>
				</div>
				<div class="col-sm-6 col-12">
					<div class="form-group">
						<%= form_tag tests_path, method: :get, remote: true, id: 'test-search', class:"form-inline"  do %>
							<%= text_field_tag :test_search, params[:test_search], class:"form-control", placeholder:"tìm kiếm theo user .." %> 											
						<% end %>
					</div>   
				</div>
			</div>
		</div>
		<div class="card-body">
		<div id="all-mail" class="table-responsive table-body">
				<table class="table table-hover table-bordered mail-table table-striped">
					<thead class="thead-dark">
						<tr> 
							<th scope="col">Chủ đề</th>
							<th scope="col">Người làm</th>
							<th scope="col">Điểm số</th>
							<th scope="col">Thời gian làm bài</th>
							<th scope="col">Thời gian tạo</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id = "show_test">
						<%= render @tests %>
					</tbody>
				</table>
				<div id="show_will_paginate"><%= will_paginate @tests %></div>
			</div>
		</div>
	</div>
</div>