<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h2 id="title-page">KẾT QUẢ BÀI LÀM :</h2>
				</div>
				<div class="p-2">
					<p><strong>Ngày : </strong><%=@test.created_at.to_s.first(-7)%>
					</p>
				</div>
			</div>
      <div class="question-block mt-3"> 
        <div class="d-flex justify-content-center pl-5">
          <i class="fa fa-pencil-square-o" style="font-size: 200px;"></i>
        </div>
        <div class="question-title d-flex justify-content-center">
          <strong>
            <h4>
            <i class="fa fa-check" aria-hidden="true"></i> 
            Điểm số : <%=@test.score%> / <%=@test.topic.number_of_question%></h4>
          </strong>
        </div>   
      <hr>
        <p class="question-title">
          <strong>
            <i class="fa fa-bars" aria-hidden="true"></i> Chủ đề : 
          </strong>
          <%=@test.topic.title%>
        </p> 
        <p class="question-title">
          <strong>
            <i class="fa fa-clock-o" aria-hidden="true"></i> Thời gian làm bài : 
          </strong>
          <%= render "time_test" , test: @test%>
        </p>   
      </div>
			
	  </div>
	</div>
</div>