<div class="container mt-4">
	<div class="card">
	  <div class="card-body">
			<div class="d-flex">
				<div class="mr-auto p-2">
					<h2 id="title-page">Bài test đã hoàn thành</h2>
				</div>
				<div class="p-2">
					<p><strong>Thời gian : </strong>
						<%= @test.updated_at %> 
					</p>
					<p><strong>Điểm số : </strong><%= @test.score %> / <%= @test.topic.number_of_question %></p>
				</div>
			</div>
		  <hr>
      <% answer_list = @test.answer_list.split('/')%>
			<% updated_at_list = @test.updated_at_list.split('/')%>
      <% @test.id_ques_list.split('/').each_with_index do |id , index| %>
				<% question = Question.find_by(id: id) %>
				<% if !question or question.updated_at.to_s.first(-7) != updated_at_list[index]%>
					<div class="question-block mt-3 disble-ques"> 
						<p class="question-title">
							<strong>Câu <%= index + 1 %> : </strong>
						</p>
						<div class="answer-block" data-question-type="multi_choice">
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
							<div class="d-flex justify-content-center">
								Nội dung câu hỏi đã bị thay đổi
							</div>
							<div class="d-flex justify-content-center">
								Mong bạn thông cảm !
							</div>
						</div>
					</div>
				<% else %>
					<div class="question-block mt-3"> 
						<p class="question-title">
							<strong>Câu <%= index + 1 %> : </strong>
							<%= question.content %>
						</p>
						<% case question.attach_type %>
						<% when "image" %>
						<div class="d-flex justify-content-center pb-3 embed-responsive embed-responsive-16by9">
							<%= image_tag question.image ,class:"ques-test-img embed-responsive-item"%>
						 </div>
						<% when "sound" %>
							<%= audio_tag rails_blob_path(question.sound), controls: true %>
						<% when "video" %>
							<div class="embed-responsive embed-responsive-16by9">
							<%= video_tag rails_blob_path(question.video), controls: true ,class:"embed-responsive-item"%>
							</div>
						<% end %>
						<div class="answer-block" data-question-type="multi_choice">
							<div class="question-form" > 
								<% answer_list[index].split(',').each_with_index do |result , idx| %>
									<%if result == '1' %>
										<div class="s_question_selection checked_border right_checked_border d-flex">
											<span class="choice-index-span">
												<code><%= question.answers[idx].content %></code>
											</span>
										</div>
									<% elsif result == '2'%>
										<div class="s_question_selection checked_border right_checked_border d-flex">
											<span class="choice-index-span">
												<code><%= question.answers[idx].content  %></code>
											</span>
											<i class="fa fa-check ml-auto"></i>
										</div>
									<% elsif result == '0'%>
										<div class="s_question_selection checked_border wrong_checked_border d-flex">
											<span class="choice-index-span">
												<code><%= question.answers[idx].content %></code>
											</span>
											<i class="fa fa-close ml-auto"></i>
										</div>
									<% elsif result == '3' %>
										<div class="s_question_selection checked_border no_checked_border d-flex">
											<span class="choice-index-span">
												<code><%= question.answers[idx].content %></code>
											</span>
										</div>
									<% end %> 
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>

			<hr>
			<div class="d-flex justify-content-center">
        <%= link_to 'Back', root_path%>
			</div>
	  </div>
	</div>
</div>